<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Companies</title>
</head>
<body>
    <!-- This template gets rendered when the list for companies needs to be displayed.-->

    <h3>This is the list of all the companies.</h3>
    <table style="margin-left: 10%; width: 30%; margin-top: 2%;">
        <tr>
            <th>
                Company
            </th>
            <th>
                Domain
            </th>
        </tr>
        {% for company in companies %}
                <tr>
                    <td>
                        <a href="{% url 'comp_emp:comp_details' company.id%}">{{company.comp_name}}</a>
                    </td>
                    <td>
                        {{company.domain}}
                    </td>
                </tr>            
        {% endfor %}
    </table>

    <!-- The below class is used to provide navigation links to navigate to different pages.
        The variables like page_number, last, etc are obtained from the get_context_data()
        function of the view.-->
        
    <div class="pagination">
        <span class="step-links">
            {% if page_number > 1 %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_number|add:'-1' }}">previous</a>
            {% endif %}
    
            <span class="current-page">{{ page_number }}</span>
    
            {% if has_more_records %}
                <a href="?page={{ page_number|add:'1' }}">next</a>
                <a href="?page={{last}}">last &raquo;</a>
            {% endif %}

            
        </span>
    </div>
    
</body>
</html>