<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    <!-- This template gets rendered when the details for an employee are to be displayed i.e. 
        when an employee's name, from the list of employees, is clicked, then the list of 
        companies where that employee works is displayed.-->

    <h3>The person is an employee for below mentioned companies:</h3>
    <table style="margin-left: 10%; margin-top: 2%; width: fit-content;">
        <tr>
            <th>
                Company
            </th>
            <th>
                Domain
            </th>
        </tr>
        {% for company in companies %}
            <tr>
                <td>
                    {{company.comp_name}}
                </td>
                <td>
                    {{company.domain}}
                </td>
            </tr>   
        {% endfor %}
    </table>

    <!-- The below class is used to provide navigation links to navigate to different pages.
        The variables like page_number, last, etc are obtained from the get_context_data()
        function of the view.-->

    <div class="pagination">
        <span class="step-links">
            {% if page_number > 1 %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_number|add:'-1' }}">previous</a>
            {% endif %}
    
            <span class="current-page">{{ page_number }}</span>
    
            {% if has_more_records %}
                <a href="?page={{ page_number|add:'1' }}">next</a>
                <a href="?page={{last}}">last &raquo;</a>
            {% endif %}

            
        </span>
    </div>
</body>
</html>